html,
body,
.view {
  height: 100%;
  overflow-y: hidden;
}

.view {
  background: url("images/background.jpg")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1, h2, h3, h4, h5, h6, div, span, section{
  margin:0 !important;
  border:0 !important;
  padding:0 !important;
  color: #1B1B1B;
}

h2 {
  font-size: 4.5vw !important;
}

html,body{
  color:white !important;
  width:100%;
  text-align: center;
  font-family: sans-serif !important;
}

#title-header{
  padding-bottom:2vh !important;
  padding-top:2vh !important;
  line-height: 8rem;
  font-size: 2vw;
}

#title-header-title{
  margin-top: 0.5rem !important;
}

#datewrap{
  line-height:3.5rem;
}

#clockdategsz{
  font-weight: bold;
  color: #1B1B1B;
  font-size: 2vw;
}

.programtime-start{
  font-weight: bold;
  font-size:4.5rem;
}

.programtime-end{
    font-size:3rem;
}

.folyamatban{
    animation: blinker 1s linear infinite;
}

.location {
    font-weight: bold;
    font-size: 2.6rem;
}

.partner{
    font-weight: bold;
    font-size:2.6rem;
}

.itemtitle{
  text-align: left !important;
  font-weight: bold;
  font-size:3.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.itemdescription{
    white-space: nowrap;
    overflow: hidden;
    text-align:left !important;
    font-size:2rem;
}

.itemdescriptionfull{
    text-align:left !important;
    font-size:1.5rem;
}

@keyframes text {
    0%   { transform: translate(100%, 0); }
    100% { transform: translate(-100%, 0); }
}

.itemdescription span{
  display: inline-block;
  text-indent: 0;
  padding-left: 100%;  /* show the marquee just outside the paragraph */
  animation: marquee 15s linear infinite;
}

/* Make it move */
@keyframes marquee {
    from  { text-indent:  100% }
    to    { text-indent: -100% }
}

.items{
  min-height:8rem;
  padding-top:1rem !important;
  padding-bottom:1rem !important;
}

.items:nth-child(2n) {
	background-color: rgba(255,255,255,0.9);
}

.items:nth-child(2n+1) {
	background-color: rgba(192,192,192,0.8);
}

.typeshow{
  font-weight: normal;
  font-variant: small-caps;
}

#alertprogram{
  background-color: #ffff00;
  border: 1px solid white !important;
  position: absolute;
  top:8rem;
  width:80%;
  left:10%;
  z-index: 500;
  min-height:8rem;
}

#alertprogram::before{
  content: "Változás!!";
  font-size: 2rem;
  text-align: left !important;
  font-weight: bold;
  margin-left:5px !important;
  display:block;
}

#divider{
  padding-bottom: 0.5em !important;
}

.running{
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
    60% { color: #ee3a24; }
}