h1, h2, h3, h4, h5, h6, div, span, section{
  margin:0 !important;
  border:0 !important;
  padding:0 !important;
}

html,body{
  background-color:rgba(91,49,97,0.86) !important;
  color:white !important;
  width:100%;
  text-align: center;
  font-family: sans-serif !important;
}

#title-header{
  padding-bottom:2vh !important;
  padding-top:2vh !important;
  border-bottom:2px solid white !important;
  line-height: 8rem;
  font-size: 4rem;
}

#datewrap{
  line-height:2rem;
  font-size:2rem;
}

#clockdategsz{
  font-weight: bold;
}

.timeblock{
  font-weight: bold;
  font-size:120%;
}

.itemtitle{
  text-align: left !important;
  font-weight: bold;
  font-size:120%;
}

.itemdescription{
  white-space: nowrap;
    overflow: hidden;
    text-align:right !important;
}

@keyframes marquee {
    0%   { transform: translate(100%, 0); }
    100% { transform: translate(-100%, 0); }
}

.itemdescription span{
  display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 25s linear infinite;
}

.items{
  border-bottom:1px solid white !important;
  height:8rem;
  padding-top:1rem !important;
  padding-bottom:1rem !important;
}

.items:nth-child(2n) {
	background-color: rgba(0,0,0,.3);
}

.items:nth-child(2n+1) {
	background-color: rgba(0,0,0,.5);
}
